Parameters:
  Env:
    Type: String
Conditions:
  IsStaging:
    Fn::Equals:
    - Ref: Env
    - staging
Resources:
  IAMPolicy:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: https://s3.us-west-1.amazonaws.com/cfn-artifacts-us-west-1/3a5d9e735a44d78d761fb865d9cc8ca0.template
      Parameters:
        Environment:
          Ref: Env
        BaseName:
          Ref: AWS::StackName
        PolicyBaseName: readonly
  IAMRole:
    Type: AWS::CloudFormation::Stack
    DependsOn: IAMPolicy
    Properties:
      TemplateURL: https://s3.us-west-1.amazonaws.com/cfn-artifacts-us-west-1/0fc50d3a09795830dc898c166adccee9.template
      Parameters:
        RoleName:
          Fn::Sub: ${AWS::StackName}-${Env}
        ReadOnlyPolicyArn:
          Fn::GetAtt:
          - IAMPolicy
          - Outputs.ReadOnlyPolicyArn
        GuardrailPolicyArn:
          Fn::GetAtt:
          - IAMPolicy
          - Outputs.GuardrailPolicyArn
  S3ListPolicyAttachment:
    Type: AWS::IAM::RolePolicyAttachment
    Condition: IsStaging
    Properties:
      RoleName:
        Fn::GetAtt:
        - IAMRole
        - Outputs.RoleName
      ManagedPolicyArn:
        Fn::GetAtt:
        - IAMPolicy
        - Outputs.S3ListPolicyArn
Outputs:
  RoleArn:
    Value:
      Fn::GetAtt:
      - IAMRole
      - Outputs.RoleArn
    Export:
      Name:
        Fn::Sub: ${AWS::StackName}-RoleArn
  InstanceProfileArn:
    Value:
      Fn::GetAtt:
      - IAMRole
      - Outputs.InstanceProfileArn
    Export:
      Name:
        Fn::Sub: ${AWS::StackName}-InstanceProfileArn
