AWSTemplateFormatVersion: '2010-09-09'
Description: 'Security domain stack for cumulus (IAM policies and roles)'

Parameters:
  Env:
    Type: String
    Description: Deployment environment (e.g., dev, staging, prod)

Conditions:
  IsStaging: !Equals [ !Ref Env, "staging" ]

Resources:
  IAMPolicy:
    Type: AWS::CloudFormation::Stack
    Properties:
      TemplateURL: ../../modules/iam-policy.yaml
      Parameters:
        Environment: !Ref Env
        BaseName: !Ref AWS::StackName
        PolicyBaseName: readonly

  IAMRole:
    Type: AWS::CloudFormation::Stack
    DependsOn: IAMPolicy
    Properties:
      TemplateURL: ../../modules/iam-role.yaml
      Parameters:
        RoleName: !Sub '${AWS::StackName}-${Env}'
        ReadOnlyPolicyArn: !GetAtt IAMPolicy.Outputs.ReadOnlyPolicyArn
        GuardrailPolicyArn: !GetAtt IAMPolicy.Outputs.GuardrailPolicyArn

  S3ListPolicyAttachment:
    Type: AWS::IAM::RolePolicyAttachment
    Condition: IsStaging
    Properties:
      RoleName: !GetAtt IAMRole.Outputs.RoleName
      ManagedPolicyArn: !GetAtt IAMPolicy.Outputs.S3ListPolicyArn

Outputs:
  RoleArn:
    Value: !GetAtt IAMRole.Outputs.RoleArn
    Export:
      Name: !Sub '${AWS::StackName}-RoleArn'
  InstanceProfileArn:
    Value: !GetAtt IAMRole.Outputs.InstanceProfileArn
    Export:
      Name: !Sub '${AWS::StackName}-InstanceProfileArn'
